{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Contact</h1>
{% endblock %}

{% block titre2 %}
<h1>Sommes-nous seul dans l'univers ?</h1>
{% endblock %}

{% block commentaire1 %}
<h1>Contact E.T.</h1>
<p>L'impact potentiel d'un contact avec une civilisation extraterrestre est l’ensemble de changements dans la science, la technologie, la religion, la politique et l' écosystème qui résulteraient d'un contact avec une civilisation extraterrestre.</p>
{% endblock commentaire1 %}

{% block photo1 %}
<img src="{{ asset('images/photo1.jpg') }}" alt="photo1">
{% endblock %}

{% block formulaire %}
<h1>Formulaire de contact</h1>
 <section>
            <h2>Formulaire d'ouverture de compte</h2>
            <div>
                <label for="name">Nom :<abbr title="required">*</abbr></label>
                <input id="name" type="text" name="name">
                <div>
                    <br>
                    <label for="firstname">Prénom :<abbr title="required">*</abbr></label>
                    <input id="firstname" type="text" name="firstname">
                </div>
                <br>
                <label for="nickname">Pseudo :<abbr title="required">*</abbr></label>
                <input id="nickname" type="text" name="nickname">
                
                <div>
                <br>
                <label for="region">Quelle est votre région  :<abbr title="required">*</abbr></label>
                <input id="region" type="text" name="region">
                </div>
                
                <br>
                <div>
                    <button type="submit">Valider ses choix</button>
                </div>

                </form>
            </div>
        </section>

{% endblock %}