{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Galerie</h1>
{% endblock %}

{% block commentaire1 %}
<h1>La galerie</h1>
<p>Le mot galerie (n. f. xive siècle) trouve ses origines de l'italien galleria qui signifie « tunnel ». La neuvième édition du dictionnaire de l'académie française donne la définition suivante : « Passage ménagé à l'intérieur ou à l'extérieur d'un édifice pour servir à la circulation ou à la promenade. »</p>
{% endblock %}


{% block photo1 %}
<img src="{{ asset('images/photo4.jpg') }}" alt="photo2">
{% endblock %}