{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Accueil</h1>
{% endblock %}

{% block commentaire1 %}
<h1>La mer</h1>
<p>Cette définition confond les océans, les mers fermées ou ouvertes ainsi que les grands lacs salés. On la retrouve dans un contexte historique ou familier (opposition de la mer et de la montagne dans les vacances, la mer est bonne ? pour évoquer sa température). </p>
{% endblock commentaire1 %}

{% block photo1 %}
<img src="{{ asset('images/photo3.png') }}" alt="photo1">
{% endblock %}