h1 {
    color:rgb(90, 46, 5);
}

img {
    width:40%;
    max-height: 50vh;
    text-align: center;
    padding:1rem;   
}

h1, h2, h3, h4, h5, h6 {
    width:100%;
    text-align: center;
    padding:1rem;
}

header, footer {
    text-align: center;
    background-color: darksalmon;
}

html, body {
    width:100%;
    font-size: 16px;

}

nav a {
    display: inline-block;
    text-decoration: none;
    padding:1rem;
    color: darkred;
}